/* purgecss start ignore */
@tailwind base;
@tailwind components;

/* Your own custom component styles */

/* purgecss end ignore */
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  cursor: pointer;
}

.data-table {
  border-collapse: collapse;
}

.data-table td, .data-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.data-table tr:nth-child(even){background-color: #f2f2f2;}

.data-table tr:hover {background-color: #ddd;}

.data-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.ReactModal__Content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}